@charset "UTF-8";
body {
	font-family: "Proxima Nova";
}

/* WATCHLIST */
#watchlist {
	padding-left: 0;
	padding-right: 0;
	background: #f9f9f9;
}

.tvsm-row {
	margin-left: 0;
	margin-right: 0;
}

.tvsm-card {
	border-radius: 0;
	background: inherit;
	border-top: none;
	border-left: none;
}

.tvsm-card img {
	padding-top: 15px;
}

.tvsm-card .card-body {
	padding-left: 0;
	padding-right: 0;
}

.tvsm-card .btn {
	width: 100%;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* SHOW DETAILS */
#show-details-panel {
	display: none;
	background: #efefef;
	padding-left: 0;
	padding-right: 0;
}

#show-details-loading img {
	display: block;
	margin: auto;
}

.show-details {
	border: none;
}

.show-details img {
	max-width:100%;
	max-height:100%;
	border-radius: 0;
}

.show-details .card-title {
	padding: 12px;
}

.show-details.card {
	background: inherit;
}

.season-title {
	margin-bottom: 0;
	cursor: pointer;
}

.season-title:not(.collapsed) .fa-chevron-down {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
	padding-bottom: 3px;
}

.season-title.collapsed .fa-chevron-down {
	padding-top: 2px;
}

.season-title .fa-chevron-down {
	float: right;
}

.show-details table {
	margin-bottom: 0;
}

.show-details table a {
	text-decoration: none;
	color: inherit;
}

.show-details table a i {
	margin-top: 3px;
}