body {
    background-color: lightgray;
}

.loading {
    background: url("assets/loading.gif") center center no-repeat;
}

#tvshows {
    padding: 0px 0px;
    text-align: center;
    min-height: 100vh;
    vertical-align: middle;
}

#tvshows-accordion {
    text-align: center;
}

.tvshow {
    width: 758px;
    margin: auto;
    border: none;
    border-radius: 0;
    display: inline-block;
}

.tvshow .card-header {
    cursor: default;
    border: none;
    border-radius: 0;
    padding: 0;
}

.banner {
    padding: 0;
}

.banner img {
    max-width: 100%;
}

.banner i {
    position: absolute;
    cursor: pointer;
    top: 80px;
    color: dodgerblue;
    text-shadow: 2px 0 1px #000, -2px 0 1px #000, 0 2px 1px #000, 0 -2px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
}

.banner i:hover {
    text-shadow: 2px 0 1px #fff, -2px 0 1px #fff, 0 2px 1px #fff, 0 -2px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    filter: brightness(85%);
}

.banner .fa-download {
    right: 85px;
    font-size: 260%;
}

.banner .fa-angle-down {
    right: 30px;
    font-size: 315%;
    transition: transform .3s ease-in-out;
}

.banner .fa-angle-down.rotated {
    transform: rotate(180deg);
}

.tvshow .collapse {
}

.card-body {
    display: flex;
    padding: 0;
}

.card-body div {
    flex-grow: 1;
    width: 0;
    margin: 0;
}

.card-body table {
    margin: 0;
}

.card-body table td {
    padding: 6px 12px;
    vertical-align: middle;
}

.card-body i {
    cursor: pointer;
    color: dodgerblue;
    text-shadow: 1px 0 1px #000, -1px 0 1px #000, 0 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
}

.card-body i:hover {
    text-shadow: 1px 0 1px #fff, -1px 0 1px #fff, 0 1px 1px #fff, 0 -1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    filter: brightness(85%);
}