body {
    background-color: lightgray;
}

.color1 {
    color: #feb236;
}

.color2 {
    color: #ff7b25;
}

.color3 {
    color: #d64161;
}

.color4 {
    color: #6b5b95;
}

.loading {
    background: url("assets/loading.gif") center center no-repeat;
}

#tvshows-container {
    width: 100%;
}

#tvshows {
    float: left;
    padding: 0px;
    min-height: 100vh;
    vertical-align: middle;
    width: 758px;
}

#tvshow-details {
    padding: 0px;
    float: left;
}

.tvshow {
    max-width: 758px;
    margin: auto;
    border: none;
    border-radius: 0;
    display: inline-block;
}

.tvshow .card-header {
    cursor: default;
    border: none;
    border-radius: 0;
    padding: 0;
}

.banner {
    padding: 0;
}

.banner img {
    width: 100%;
    height: 140px;
}

.enabled i {
    cursor: pointer;
}

.disabled i {
    color: gray;
    cursor: default;
}

.banner i {
    position: absolute;
    top: 80px;
    text-shadow: 2px 0 1px #000, -2px 0 1px #000, 0 2px 1px #000, 0 -2px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
}

.banner i:hover {
    text-shadow: 2px 0 1px #fff, -2px 0 1px #fff, 0 2px 1px #fff, 0 -2px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    filter: brightness(85%);
}

.banner .fa-download {
    right: 95px;
    font-size: 260%;
}

.banner .fa-search {
    right: 30px;
    font-size: 260%;
}

.card-body {
    display: flex;
    padding: 0;
}

.card-body div {
    flex-grow: 1;
    width: 0;
    margin: 0;
}

.card-body table {
    margin: 0;
}

.card-body table td {
    padding: 6px 12px;
    vertical-align: middle;
}

.card-body table th {
    border: none;
}

.card-body i {
    text-shadow: 1px 0 1px #000, -1px 0 1px #000, 0 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
}

.card-body i:hover {
    text-shadow: 1px 0 1px #fff, -1px 0 1px #fff, 0 1px 1px #fff, 0 -1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    filter: brightness(85%);
}