body {
}

.color1 {
    color: #feb236;
}

.color2 {
    color: #ff7b25;
}

.color3 {
    color: #d64161;
}

.color4 {
    color: #6b5b95;
}

.loading {
    background-image: url("assets/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
}

#tvshows-container {
    width: 100%;
    min-height: 100vh;
}

#tvshows, #tvshow-details {
    vertical-align: top;
    padding: 0px;
    min-height: 100vh;
    height: 100%;
    min-width: 490px;
    width: 50%;
    text-align: center;
}

#tvshow-details {
    background-color: #c8c8c8;
}

.tvshow {
    max-width: 758px;
    margin: auto;
    border: none;
    border-radius: 0;
    display: inline-block;
}

.tvshow .card-header {
    cursor: default;
    border: none;
    border-radius: 0;
    padding: 0;
}

.banner {
    padding: 0;
}

.banner img {
    width: 100%;
    max-height: 140px;
    min-width: 490px;
    min-height: 90px;
}

.enabled i {
    cursor: pointer;
}

.disabled i {
    color: gray;
    cursor: default;
}

.banner i {
    position: absolute;
    bottom: 10px;
    text-shadow: 2px 0 1px #000, -2px 0 1px #000, 0 2px 1px #000, 0 -2px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
}

.banner i:hover {
    text-shadow: 2px 0 1px #fff, -2px 0 1px #fff, 0 2px 1px #fff, 0 -2px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    filter: brightness(85%);
}

.banner .fa-download {
    right: 80px;
    font-size: 260%;
}

.banner .fa-search {
    right: 15px;
    font-size: 260%;
}

.episode {
    padding: 0;
    margin: 0;
}

.episode td {
    padding: 6px 12px;
    vertical-align: middle !important;
}

.episode th {
    border: none !important;
}

.episode i {
    font-size: 130%;
    text-shadow: 1px 0 1px #000, -1px 0 1px #000, 0 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
}

.episode i:hover {
    text-shadow: 1px 0 1px #fff, -1px 0 1px #fff, 0 1px 1px #fff, 0 -1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    filter: brightness(85%);
}